{% import "lib/helpers.macro.html" as helpers -%}
{$ helpers.viewSourceButton(doc, git) $}

{$ helpers.improveDocButton(doc) $}

<h1 ng:non-bindable>
  {$ doc.name | code $}
  <div><span class='hint'>directive in module {$ doc.module | code $}</span></div>
</h1>

{$ helpers.notice('deprecated', 'Deprecated API', doc.deprecated) if doc.deprecated $}

<div>
  {% include "lib/description.template.html" %}
  {% include "lib/dependencies.template.html" %}
  {% include "lib/directive-usage.template.html" %}
  

  <h2>Directive Info</h2>
  <ul>
    {% if doc.scope %}<li>This directive creates new scope.</li>{% endif %}
    <li>This directive executes at priority level {$ doc.priority $}.</li>
  </ul>

  {% include "lib/animations.template.html" %}
  {% include "lib/params.template.html" %}
  {% include "lib/events.template.html" %}
  {% include "lib/examples.template.html" %}

</div>
