<a href='http://github.com/angular/angular.js/tree/{$ git.tag $}/{$ doc.file $}#L{$ doc.startingLine $}'
   class='view-source btn btn-action'>
  <i class="icon-zoom-in">&nbsp;</i>View Source
</a>

<a href='http://github.com/angular/angular.js/edit/master/{$ doc.file $}'
   class='improve-docs btn btn-primary'>
  <i class="icon-edit">&nbsp;</i>Improve this doc
</a>

<h1 ng:non-bindable>
  <code>{$ doc.name $}</code>
  <div><span class='hint'></span></div>
</h1>

{% if doc.deprecated %}

{% endif %}

<div>
  <h2 id="description">Description</h2>
  <div class="description">
    {$ doc.description | marked $}
  </div>

  <h2 id="usage">Usage</h2>
  {$ doc.restrict $}
  <div class="usage">
    {% if doc.restrict.element %}
    <p>This directive can be used as custom element, but be aware of <a href="guide/ie">IE restrictions</a>.</p>
    {% endif %}
    
    {% if doc.restrict.element %}
      <pre class="prettyprint linenums">{$ '`<' + doc.name + '>...</' + doc.name + '>`' | marked $}</pre>
    {% endif %}
  </div>
</div>
