<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ng-app: docsApp;" lang="en" ng-controller="DocsController"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ng-app: docsApp;" lang="en" ng-controller="DocsController"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ng-app: docsApp;" lang="en" ng-controller="DocsController"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js ng-app: docsApp;" lang="en" ng-controller="DocsController"> <!--<![endif]-->
<head>
  <style>
    .ng-hide { display:none!important; }
  </style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="Description"
        content="AngularJS is what HTML would have been, had it been designed for building web-apps.
                 Declarative templates with data-binding, MVC, dependency injection and great
                 testability story all implemented with pure client-side JavaScript!">
  <meta name="fragment" content="!">
  <title ng-bind-template="AngularJS: {{partialTitle}}">AngularJS</title>

  <script type="text/javascript">
    var indexFile = (location.pathname.match(/\/(index[^\.]*\.html)/) || ['', ''])[1],
        rUrl = /(#!\/{% for section in doc.sections %}|{$ section $}{% endfor %}|index[^\.]*\.html).*$/,
        baseUrl = location.href.replace(rUrl, indexFile),
        headEl = document.getElementsByTagName('head')[0];

    var baseTag = document.createElement('base');
    baseTag.setAttribute('href', baseUrl);
    headEl.appendChild(baseTag);

  </script>

  {% for stylesheet in doc.stylesheets %}<link href="{$ stylesheet $}" rel="stylesheet" type="text/css">
  {% endfor %}

  {% for script in doc.scripts %}<script src="{$ script $}"></script>
  {% endfor %}
</head>
<body>
  <header class="header" ng-controller="DocsSearchCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="http://angularjs.org">
            <img class="logo" src="img/angularjs-for-header-only.svg">
          </a>
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li><a href="http://angularjs.org"><i class="icon-home icon-white"></i> Home</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-eye-open icon-white"></i> Learn <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="disabled"><a href="http://angularjs.org/">Why AngularJS?</a></li>
                <li><a href="http://www.youtube.com/user/angularjs">Watch</a></li>
                <li><a href="tutorial">Tutorial</a></li>
                <li><a href="http://builtwith.angularjs.org/">Case Studies</a></li>
                <li><a href="https://github.com/angular/angular-seed">Seed App project template</a></li>
                <li><a href="misc/faq">FAQ</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-book icon-white"></i> Develop <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="./tutorial/">Tutorial</a></li>
                <li><a href="./guide/">Developer Guide</a></li>
                <li><a href="./api/">API Reference</a></li>
                <li><a href="./error/">Error Reference</a></li>
                <li><a href="http://docs.angularjs.org/misc/contribute">Contribute</a></li>
                <li><a href="http://code.angularjs.org/">Download</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-comment icon-white"></i> Discuss <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="http://blog.angularjs.org">Blog</a></li>
                <li><a href="http://groups.google.com/group/angular">Mailing List</a></li>
                <li><a href="http://webchat.freenode.net/?channels=angularjs&uio=d4">Chat Room</a></li>
                <li class="divider"></li>
                <li><a href="https://twitter.com/#!/angularjs">Twitter</a></li>
                <li><a href="https://plus.google.com/110323587230527980117">Google+</a></li>
                <li class="divider"></li>
                <li><a href="https://github.com/angular/angular.js">GitHub</a></li>
                <li><a href="https://github.com/angular/angular.js/issues">Issue Tracker</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
          </ul>
          <form class="navbar-search pull-right" ng-submit="submit()">
            <input type="text"
                   name="as_q"
                   class="search-query"
                   placeholder="Click to focus or press '/' to search"
                   ng-change="search(q)"
                   ng-model="q"
                   docs-search-input
                   autocomplete="off" />
          </form>
          <div ng-show="hasResults" class="search-results">
            <div ng-repeat="(key, value) in results" class="search-group" ng-class="colClassName">
              <h4>{{ key }}</h4>
              <div ng-repeat="item in value" class="search-result">
                <a ng-click="hideResults()" href="{{ item.url }}">{{ item.name }}</a>
              </div>
            </div>
            <a href="" ng-click="hideResults()" class="search-close">
              <span class="icon-remove-sign"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

 <div class="ng-hide" id="docs-fold-overlay" ng-show="docs_fold" ng-click="fold(null)"></div>
 <div class="foldout ng-hide" id="docs-fold" ng-show="docs_fold">
   <div id="docs-fold-close" ng-click="fold(null)">
     <span class="icon-remove-sign"></span>
   </div>
   <div ng-include="docs_fold"></div>
 </div>

<div ng-class="{fixed_body:docs_fold}">
  <div role="main" class="container">
    <div class="row clear-navbar"></div>

    <div class="row">
      <div class="span12">
        <!--[if lt IE 7]>
        <p class="alert alert-error">Your browser is <em>ancient!</em>
          <a href="http://browsehappy.com/">Upgrade to a different browser</a> or
          <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
          experience this site.
        </p>
        <![endif]-->

        <!--[if lt IE 9]>
        <div class="alert">
          You are using an old version of Internet Explorer.
          For better and safer browsing experience please <a href="http://www.microsoft.com/IE9">upgrade IE</a>
          or install <a href="http://google.com/chrome">Google Chrome browser</a>.
        </div>
        <![endif]-->
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <div class="well">
          
          <div ng-controller="DocsVersionsCtrl">
            <select ng-options="v as v.title group by v.group for v in docs_versions"
                    ng-model="docs_version"
                    ng-change="jumpToDocsVersion(docs_version)"
                    class="docs-version-jump">
            </select>
          </div>

          <div class="side-navigation">

            <ul class="nav nav-list">
              <li ng-repeat="item in navigation track by item.href" ng-class="navClass(item)">
                <a ng-if="item.extra" ng-class="navClass(item.extra)" href="{{item.extra.href}}">
                  {{item.extra}}<i ng-if="item.extra.icon" class="icon-{{item.extra.icon}}"></i>
                </a>
                <a tabindex="2" ng-class="linkClass(item)" href="{{item.href}}">{{item.text}}</a>
            </ul>

          </div>
        </div>
      </div>
      <div class="span9">

        <ul class="breadcrumb">
          <li ng-repeat="crumb in breadcrumb">
            <span ng-hide="crumb.url">{{crumb.name}}</span>
            <a ng-show="crumb.url" href="{{crumb.url}}">{{crumb.name}}</a>
            <span ng-show="crumb.url" class="divider">/</span>
          </li>
        </ul>

        <div id="loading" ng-show="loading">Loading...</div>

        <div ng-hide="loading" ng-include src="currentPage.partialUrl" onload="afterPartialLoaded()" autoscroll class="content slide-reveal"></div>

      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="pull-right"><a back-to-top href="#">Back to top</a></p>

      <p>
        Super-powered by Google  ©2010-2014
        ( <a id="version"
             ng-href="https://github.com/angular/angular.js/blob/master/CHANGELOG.md#{{versionNumber}}"
             ng-bind-template="v{{version}}">
          </a>
        )
      </p>
      <p>
        Code licensed under the
        <a href="https://github.com/angular/angular.js/blob/master/LICENSE" target="_blank">The
          MIT License</a>. Documentation licensed under <a
            href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
      </p>
    </div>
  </footer>
</div>

</body>
</html>